@media (max-width: 1860px) {
    .text-active {
        width: 77.8% !important;
        /* top: 6.7%; */
    }
}

@media (max-width: 1734px) { 
    .text-active {
        width: 77.7% !important;
    }
}

@media (max-width: 1591px) { 
    .text-active {
        width: 77.5% !important;
    }
}

@media (max-width: 1427px) { 
    .text-active {
        width: 77.3% !important;
    }
}

@media (max-width: 1295px) { 
    .text-active {
        width: 77.1% !important;
    }
}

@media (max-width: 1245px) { 
    .text-active {
        width: 77.0% !important;
    }
}

@media (max-width: 1176px) { 
    .text-active {
        width: 76.8% !important;
    }
}

@media (max-width: 1048px) { 
    .text-active {
        width: 76.4% !important;
    }
}

@media (max-width: 926px) { 
    
    .playlist {
        grid-template-columns: repeat(3, 1fr); 
    }
    .text-active {
        width: 73% !important;
    }
}
@media (max-width: 996px) { 
    .text-active {
        width: 76.3% !important;
    }

    .elements img { 
        margin-right: 15px;
    }
}

@media (max-width: 859px) { 
    .text-active {
        width: 75.6% !important;
    }
}

@media (max-width: 814px) { 
    .text-active {
        width: 75.4% !important;
    }
}

@media (max-width: 768px) {
    .playlist {
        grid-template-columns: repeat(2, 1fr); 
    }

    .text-active {
        width: 75.1% !important;
    }
}

@media (max-width: 480px) {
    .playlist {
        grid-template-columns: 1fr; 
    }
}