/*  
  Author: B4_Lord
  Project: Landing Spotify Clone Page
  Instagram: @b4__lord
  Github: https://github.com/B4-Lord
*/

@media (max-width: 1510px) {

    .boxtexto1 {
 
        .h4text {
            font-size: 23px;

        }
    }
    
    .boxtexto2 {
        p {
            font-size: 20px;
            
        }
    }
}

@media (max-width: 1200px) {
    .modal1,.modal {
        min-width: 80%;
    }
    
    .conteudo1 {
        padding-left: 0px;
        flex-direction: column;
    }
    
    
    .boxtexto1 {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .boxtexto2 {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .img224 {
        width: 120px;
    }
}

@media (max-width: 1000px) {
    .btn3 {
        width: 270px; 
        margin-top: 20px; 
        padding: 10px;
    }

    .navbar {
        width: 80%;
    }
}

@media (max-width: 720px) {
    .btn3 {
        margin-top: 20px; 
        padding: 10px;
    }

    .modal {
        max-width: 80%;
    }
}

@media (max-width: 540px) {

    .boxtexto1 {
 
        .h4text {
            font-size: 20px;

        }
    }
    
    .boxtexto2 {
        p {
            font-size: 16px;
            
        }
    }

    .img224 {
        width: 110px;
    }
}

@media (max-width: 540px) {

    .navbar {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 370px) {
    .btn3 {
        width: 207px;
    }
}
