/*  
  Author: B4_Lord
  Project: Landing Spotify Clone Page
  Instagram: @b4__lord
  Github: https://github.com/B4-Lord
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: var(--braco);
    height: 100%;
}

.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    height: 68px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: 30%;
    display: flex;
    align-items: center;
}

.logo:hover { 
    
    filter: invert(90%);
}

.logo2:hover{
    filter: invert(90%);
}

.logo {
    filter: invert(50%);
    margin-left: 20px;
    transition: 0.2s;
}

.logo a {
    cursor: auto; 
}

.logo2 {
    filter: invert(50%);
    margin-left: 15px;
    transition: 0.2s;
}

.logo img {
    cursor: auto; 
    width: 30px;
    height: auto;
}

.logo2 img {
    width: 20px;
    height: auto;
}

.header2 {
    display: flex;
    width: 80%;
    justify-content: center;
}

.centered-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.divcontdaimagemdoimp{
    padding-right: 8px;
}

.divdaimagem3:hover {
    filter: brightness(80%);
    transform: scale(1.1);
}

.divdaimagem3 {
    padding: 10px;
    transition: 0.2s;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
}

.img3 {
    width: 25px;
    height: 25px;
    filter: invert(90%);
    padding: 1px;   
}

.input-with-icon:focus {
    outline: none; 
    background-color: rgb(60, 60, 60); 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.input-with-icon::placeholder {
    color: var(--braco); 
    opacity: 1; 
}

.input-with-icon {
    font-size: 15px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5); 
    border: none;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 50px; 
    padding-left: 15px;
    width: 450px;
    height: 50px;
}

.clicaimg {
    display: flex;
    align-self: center;
}

.input-icon {
    width: 40px;
    height: 40px;
    margin-left: -45px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
}

.header3 {
    display: flex;
}

.divdsaimagens {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.img1 {
    width: 45px;
    height: 35px;
    filter: brightness(30%);
    transition: 0.2s;
}

.img1:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}

.imgcomgap22 {
    filter: brightness(30%);
    transition: 0.2s;
}

.imgcomgap22:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}

.img22 {
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin: 2px;
}

.imgnav {
    border-radius: 50%;
    border: 8px solid rgb(26, 26, 26);
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.imgnav:hover {
    transform: scale(1.1);
}

main {
    background-color: black;
    display: flex; 
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.box-left {
    /* min-width: 255px; */
    width: 20vw;
    height: 84vh; 
    background-color: rgb(19, 19, 19);
    border-radius: 8px;
    transition: width 0s ease;
}

.box-left.reducedleft {
    width: 82px;
    transition: width 0.1s ease; 
    min-width: 82px;
    
}

.opened {
    transition: width 0.3s ease;
    width: 37vw;
}

.alldivlibrary {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}

.alldivlibrary.centerimg {
    justify-content: center;
}

.library:hover {
    filter: brightness(100%);
}

.library {
    display: flex;
    align-items: center; 
    margin: 15px 1px 10px 20px;
    filter: brightness(50%);
    transition: 0.2s;
}

.imagemlibrary {
    padding: 1px;
    filter: invert(100%);
    transition: 0.2s;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.library2 {
    padding-right: 10px;
    white-space: nowrap;
    transition: 0.2s;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.simbolus2:hover {
    background-color: rgb(26, 26, 26);
    border-radius: 50%;
    filter: brightness(100%);
}

.simbolus1:hover {
    background-color: rgb(26, 26, 26);
    border-radius: 50%;
    filter: brightness(100%);
}
.simbolslibrary {
    padding-right: 10px;
    gap: 6px;
    display: flex; 
    align-items: center; 
}

.simbolus1 {
    transition: 0.2s;
    filter: brightness(50%);
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px; 
    cursor: pointer; 
}

.simbolus2 {
    transition: 0.2s;
    filter: brightness(50%);
    font-size: 30px;
    text-decoration: none;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px; 
    cursor: pointer; 
}

.imagemarrow {
    filter: invert(100%);
    transition: 0.2s;
    width: 20px;
    height: 20px;
}

.liberus2 { 
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.liberus2 {
    & a {
        transition: 0.3s;
        font-family: Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.102);
        border-radius: 50px;
        padding-top: 8px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 8px;
    }
}

.liberus2 a:hover {
    background-color: rgba(255, 255, 255, 0.152);
}

.searchrecent {
    
    display: flex;
    flex-direction: row;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 10px;
}

.search2 {
    display: flex;
    align-items: center;
    filter: invert(30%);
    transition: 0.2s;
    padding-left: 9px;
    padding-top: 7px;
    padding-right: 9px;
    padding-bottom: 7px;
    border-radius: 50%;
}

.search2:hover{
    background-color: rgb(126, 126, 126, 0.122);
    filter: invert(90%); 
}


.imgsearch {
    width: 20px;
    height: 20px; 
}

.imgsearch43 {
    margin-left: 10px;
    filter: invert(70%);
    width: 20px;
    height: 20px; 
}

.search3 {
    margin-right: 15px;
    width: 100vw;
    display: flex;
    justify-content: end;
}

.search4 {
    display: flex;
    align-items: center;
    justify-content: end;
    filter: brightness(30%);
    transition: 0.2s;
}

.search4:hover {
    transform: scale(1.1);
    filter: brightness(100%);   
}

.recentstext {
    padding-bottom: 5px;
    font-size: 14px;
    filter: brightness(70%);
    color: white;
    text-decoration: none;
}

.sexosoes1:hover {
    background-color:  rgba(255, 255, 255, 0.177);
}

.sexosoes1 {
    text-decoration: none;
    border-radius: 7px;
    transition: 0.1s;
    padding: 6px;
    display: block;
}

.sexosoes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 82.2%;
    overflow-y: auto;
    border: 10px;
}

.sexosoes.activeheight {
    height: 92.9%;
    align-items: center;
    padding: 5px;
}

.sexosoes::-webkit-scrollbar {
    position: fixed;
    width: 12px;   
    height: 12px;  
}

.sexosoes.activeted::-webkit-scrollbar {
    width: 0px;   
}

.sexosoes::-webkit-scrollbar-track {
    background: rgb(19, 19, 19); 
    border-bottom-right-radius: 11px;
}

.sexosoes::-webkit-scrollbar-thumb {
    background: #888;     
    border-bottom-right-radius: 10px;
}

.playlistsearch {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.playlistsearch1 {
    display: flex;
    flex-direction: row;
}

.playlistsearch2 {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.font1{
    color: white;
    font-size: 16px;
}

.font2 {
    color: #4e4e4e;
    font-size: 13px;
}

.serachimg {
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

.box-right {
    position: relative;
    overflow-y: auto;
    border-radius: 10px;
    width: 100vw;
    height: 84vh;
    background: linear-gradient(0deg, rgb(19, 19, 19) 70%, rgba(104,0,255,0.562062324929972) 100%);
}
  
.box-right::-webkit-scrollbar {
    position: fixed;
    width: 12px;   
    height: 12px;  
}


.box-right::-webkit-scrollbar-track {
    background: rgb(19, 19, 19); 
    border-top-right-radius: 10px;    
    border-bottom-right-radius: 10px;
}

.box-right::-webkit-scrollbar-thumb {
    background: #888;   
    border-top-right-radius: 10px;    
    border-bottom-right-radius: 10px;
}

.box-right1 {
    padding: 25px;
    display: flex;
    width: 100%;
    background-color: rgba(104,0,255,0.562062324929972);
    box-shadow: 1px 1px 6px 7px rgba(104,0,255,0.562062324929972);
}

.box1-img:hover {
    filter: brightness(80%);
}

.box1-img {
    width: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.nameinfos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.nameinfos h3 {
    font-size: 60px;
    color: white;
}

.imgnameinfos{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.imgnameinfos2 {
    border-radius: 50%;
    padding-right: 5px;
    width: 30px; 
}

.font3 {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-right: 5px;
}

.font3:hover {
    text-decoration: underline;
}

.font33 {
    color: gray;
    font-size: 15px;
    text-decoration: none;
    padding-right: 5px;
}

.box-right2 {
    display: flex;
    width: 100%;
    padding: 20px;    
}

.box-right2-menu {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.box-right2-play1 {
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-top: 7px ;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 5px;
    background-color: #13fc03;
    border-radius: 50%;
    transition: 0.2s;
}

.box-right2-play {
    padding: 11px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.box-right2-play1:hover {
    transform: scale(1.1);
}

.box-right2-shuffle {
    transition: 0.2s;
    width: 30px;
    filter: invert(40%);
}

.box-right2-shuffle:hover {
    filter: invert(90%);
}

.box-right2-more{
    width: 35px;
    filter: invert(40%);
    transition: 0.2s;
}

.box-right2-more:hover{
    filter: invert(90%);
}

.box-right2-menu2 {
    justify-content: end;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    filter: invert(40%);
}

.search54:hover{
    filter: invert(100%);
}

.search55:hover{
    filter: invert(100%);
}

.imgsearch53 {
    width: 15px;
}

.searc56 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recentstext56{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.imgsearch57 {
    width: 20px;
    margin-top: 2.5px;
}

.box-right3{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: center;    
}

.class22{
    display: flex;
    gap: 20px;
    flex-direction: row;    
    width: 30%;
}

.class26{
    width: 20px;
    filter: invert(40%);
}

.box-right3border1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-right3border2 {
    display: flex;
    width: 95%;
    border-top: 1px solid gray;
    padding-bottom: 10px;
}

.box-right213 {
    color: gray;
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}

.pclassesbox-r3:hover {
    color: white;
}

.class23 {
    width: 30%;	
}
.class24 {
    width: 38%;	
}

.musicsinplaylist {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;

}

.musicsinplaylist22:hover {
    background-color: #4e4e4e;
}

.musicsinplaylist22 {
    transition: 0.2s;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
}

.musicsinplaylist1 {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.titlemusicplaylist {
    width: 30%;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 20px;
}
.titlemusicplaylist1 {
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 20px;
    align-items: center;
}

.divnumberslistclass {
    display: flex;
    width: 20px;
    justify-content: end;
}

.numberslistclass {
    color: #4e4e4e;
    display: flex;
}

.imgmusicplaylist1 {
    width: 50px;
    border-radius: 3px;
}

.albummusicplaylist{
    display: flex;
    width: 30%;
}
.dateaddmusicplaylist{
    display: flex;
    width: 38%;
}

.timeaddmusicplaylist{
    display: flex;
}

footer {
    width: 100%;
    background-color: black;
    display: flex;   
    height: 8.4vh;
}

.footer111 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    min-width: 30%;
}
.footer222 {
    display: flex;
    width: 100%;
}

.footer333 {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    /* white-space: nowrap; */
}

.footermusicimg img {
    height: 60px;
    width: 60px;    
    border-radius: 3px;
    margin-right: 20px;
}

.footernames {
    display: flex;
    flex-direction: column; 
}

.footermusic { 
    text-decoration: none;
    color: white;
}

.footermusic:hover {
    text-decoration: underline 1px solid white;
}

.footerautor {
    text-decoration: none;
    font-size: 12px;
    filter: brightness(30%);
    color: white;
    transition: 0.2s;
    margin-top: 5px; 
}

.footerautor:hover {
    filter: brightness(90%);
    text-decoration: underline 1px solid white;
}

.fouter111 {
    justify-content: center;
    width: 40%;
    display: flex;
}

.fouter222{
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.fouter333{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbackimg:hover {
    filter: invert(90%);
}

.playbackimg {
    transition: 0.2s;
    display: flex;
    height: auto;
    filter: invert(30%);
    padding-bottom: 10px;
}

.centerbutonpause:hover {
    transform: scale(1.1);
}
.centerplaybackimg {
    display: flex;
    height: auto;
    padding-bottom: 9px;
}

.centerbutonpause {
    background-color: grey;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 11px;
    padding-right: 8px;
    margin-bottom: 10px;
}

.mudarlados {
    margin-bottom: 5px;
    margin-right: 1px;
    margin-left: -1px;
}
 

.fouter444 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fouter555 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.time-start, .time-end {
    color: white;
    font-size: 12px;;
}

.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 4px;
    background: #4e4e4e; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
 
.fuoter000 {
    display: flex;
    padding-right: 20px;
    width: 30%;
    min-width: 299px;
    justify-content: flex-end;
}

.fuoter111 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fuoter333 {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.footerimg {
    cursor: pointer;
    filter: invert(100%);
}

.footerimg1 {
    cursor: pointer;
    filter: invert(100%);
}

.mudarcorclass1 {
    filter: invert(67%) sepia(97%) saturate(7496%) hue-rotate(88deg) brightness(89%) contrast(104%);
    border: 1px solid green;
}

.mudarcorclass {
    border: 1px solid black;
}

.playbuttonarrow {
    border-radius: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.music-bar {
    appearance: none;
    width: 100px;
    height: 4px;
    background: #4e4e4e;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.music-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}


.vertical-line {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: red;
    transform: translateX(-50%);
}

.btn1 {
    background-color: transparent;
    border: 0;
}

.barradenavegacao {
    position: sticky;
    top: 0;
}

.barra-teste {
    height: 54px;
    position: fixed;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s;


}

.text {
    position: absolute; 
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: row;
    padding-left: 10px;
}

.visible {
    opacity: 1;
}


.alternativeteste {
    width: 20%;
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 10px;
}